.rollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.rollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.rollDice button {
    width: 10em;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 2em;
    align-self: center;
}

.rollDice button:hover {
    cursor: pointer;
    opacity: .9;
}

.rollDice-rolling {
    border: 0px;
    border-radius: 10px;
    background-color: darkslateblue !important;
    opacity: 0.7
}